.wy-mod-banner {
    /*background: #fff;*/
    margin-top: -0px;
    height: 535px;
    width: 100VW;
}

.wy-mod-banner .banners {
    width: 100VH;
    height: 535px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.wy-mod-banner .banner {
    width: 980px;
    height: 535px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.wy-mod-banner .banner1 .info .link-download span,
.wy-mod-banner .banner2 .info .link-download span {
    color: #3091f2;
}

.wy-mod-banner .info .link-download .bor_c {
    position: absolute;
    width: 14px;
    height: 26px;
    right: 0px;
    top: 14px;
    background-image: url(img/ico_bule.32.png);
    _background-image: url(img/ico_bule.png);
}

.wy-mod-banner .banner3 .info .link-download .bor_c,
.wy-mod-banner .banner4 .info .link-download .bor_c {
    background-image: url(img/ico_white.32.png);
    _background-image: url(img/ico_white.png);
}

.wy-mod-banner .banner .info h3 {
    display: none;
}

.wy-mod-banner .banner .info p {
    display: none;
}

.wy-mod-banner .focus {
    width: 100vw;
    /*margin: 0px auto;*/
    /*padding-top: 640px;*/
    position: absolute;
    bottom: 0px;
    text-align: center;
}

.wy-mod-banner .focus a {
    text-decoration: none;
    z-index: 3;
    width: 24px;
    height: 74px;
    position: relative;
    display: inline-block;
    *display: inline;
    overflow: hidden;
    margin: 0px 3px;
    zoom: 1;
}

.wy-mod-banner .focus a .bg-m {
    z-index: 4;
    color: white;
    line-height: 40px;
    font-size: 40px;
    position: absolute;
    display: block;
    left: 2px;
    top: 6px;
    cursor: pointer;
    display: none;
}

.wy-mod-banner .focus a .bg-b {
    background-image: url(img/i_dot.32.png);
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.wy-mod-banner .focus a .inner {
    background-image: url(img/i_dot_hover.32.png);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9;
    opacity: 0;
    display: none\0;
    +display: none;
    *display: none;
    width: 18px;
    height: 18px;
}

.wy-mod-banner .focus a.on .inner,
.wy-mod-banner .focus a:hover .inner {
    cursor: pointer;
    display: block;
    border: 0;
    -webkit-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    opacity: 1;
}

.wy-mod-banner .focus .hover .inner {
    display: block;
}